@import url("https://fonts.googleapis.com/css?family=Carter One");
@import url("https://fonts.googleapis.com/css?family=Mochiy Pop One");
@import url("https://fonts.googleapis.com/css?family=Quantico");
@import url("https://fonts.googleapis.com/css?family=Covered By Your Grace");

:root{
    --primary-color: #141414;
    --border-color: #ac9250;
    --secondary-color: #363636;
    --tertiary-color: #242424;
    --text-color-main: #ffffff;
    --text-color-border: #ac9250;

    background-color: var(--tertiary-color);
    color: var(--text-color-main);
    margin: 0px;
}
img{
    max-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}
header{
    position: fixed;
    top: 0; left: 0; z-index: 1;
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    font-family: 'Mochiy Pop One';
    font-size: large;
    
    text-align: center;
}
.outline{
    color: var(--text-color-border);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px;
}

main > #leaderboard{
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 70%;
    z-index: 0;
    overflow-y: hidden;
    bottom: 120px;
}

#roomContainer{
    font-family: 'Carter One';
    font-size: x-large;
}

.roomLogo:first-of-type {
    padding: 5px;
    border-top: 3px solid var(--border-color);
    border-left: 3px solid var(--border-color);
}
.roomLogo:last-of-type {
    padding: 5px;
    border-bottom: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
}


table{
    border: 4px solid var(--border-color);
    border-radius: 25px;
    background-color: var(--secondary-color);
}
th,td{
    padding: 10px 30px;
    text-align: center;
}
th{
    font-family: 'Carter One';
    font-size: x-large;
    border-bottom: 2px solid var(--border-color);
}
td{
    font-family: 'Quantico';
    font-size: large;
}

.team{
    font-family: 'Covered By Your Grace';
    font-size: x-large;
    width: 200px;
}

footer > div{
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    font-family: 'Mochiy Pop One';
    font-size: large;
    z-index: 1;
}

/* Navigation Bar */
#nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

#nav > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#nav a:hover {
    color: #f1f1f1;
}

#open {
    transition: margin-right .5s;
    padding: 16px;
    position: fixed;
    top: 5px;
    right: 5px;
}

@media screen and (max-height: 450px) {
    #nav {padding-top: 15px;}
    #nav a {font-size: 18px;}
}

.med-button{
    background-color: var(--border-color);
    width: 80%;
    color: black;
    font-family: 'Carter One';
    padding: 16px;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.sm-button{
    background-color: var(--border-color);
    min-width: fit-content;
    width: 40px;
    height: 40px;
    color: black;
    font-family: 'Carter One';
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.med-button > i{
    margin-right: 10px;
    font-size: 25px;
    vertical-align: text-bottom;
}

.sm-button > i{
    font-size: 20px;
    vertical-align: middle;
}

.med-select{
    background-color: var(--secondary-color);
    width: 500px;
    height: 30px;
    margin: 10px;
    color: var(--text-color-main);
    font-family: 'Mochiy Pop One';
    font-size: 14px;
    text-align: center;
    border: 2px solid var(--border-color);
    cursor: pointer;
}

.med-text-input{
    background-color: var(--secondary-color);
    width: 500px;
    height: 30px;
    margin: 10px;
    color: var(--text-color-main);
    font-family: 'Quantico';
    font-size: 14px;
    text-align: left;
    border: 2px solid var(--border-color);
}

.text-label{
    min-width: fit-content;
    width: 100px;
    justify-self: left;
    height: 30px;
    margin: 10px;
    margin-right: 0px;
    color: var(--text-color-main);
    font-family: 'Quantico';
    font-size: 16px;
    text-align: left;
}

.sm-text-input{
    background-color: var(--secondary-color);
    width: 100px;
    height: 30px;
    margin: 10px;
    color: var(--text-color-main);
    font-family: 'Quantico';
    font-size: 14px;
    text-align: left;
    border: 2px solid var(--border-color);
}

.med-button:hover, .sm-button:hover, #roomDrop:focus {
    background-color: #85703b;
}

.med-select:focus, .med-text-input:focus, .sm-text-input:focus{
    background-color: #272727;
}

.med-file-upload{
    background-color: var(--secondary-color);
    max-width: 250px;
    height: 30px;
    margin: 10px;
    padding: 3px;
    color: var(--text-color-main);
    font-family: 'Quantico';
    font-size: 14px;
    text-align: left;
    border: 2px solid var(--border-color);
}

#roomSearch {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: #bfbfbf;
    font-family: 'Quantico';
}

#roomSearch:focus {outline: 3px solid #ddd;}

.menu-container {
    width: 100%;
    position: relative;
    display: inline-block;
}

.room-content {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 10px;
    background-color: #585858;
    min-width: 230px;
    overflow: auto;
    border: 1px solid var(--tertiary-color);
    z-index: 1;
    font-family: 'Quantico';
}

.room-content label,section {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: medium;
    display: flex;
    flex-direction: row;
}

.room-content label:hover {background-color: var(--tertiary-color); color: var(--text-color-main);}

#modal {
    display: block;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000AA;
    animation: fadeIn 1s;
    visibility: hidden;
}

#modal.show{
    visibility: visible;
}
  
.modal-content {
    display: block;
    background-color: var(--tertiary-color);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.entryList{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    font-size: 20px;
    color: var(--text-color-main);
    font-family: 'Covered By Your Grace';
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

form > .inputContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

form > .med-button{
    min-width: fit-content;
    width: 300px;
    align-self: flex-end;
}

.close{
    cursor: pointer;
    width: 50px;
    font-size: xx-large;
    color: var(--text-color-border);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--primary-color);
    text-align: center;
    font-family: 'Quantico';
    font-size: x-large;
    
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 150px;
}
  
#snackbar.show {
    visibility: visible;
    animation: showSnack 0.5s, hideSnack 0.5s 2.5s;
}

#CRUDmap{
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-area: "a a a span";
}

#CRUDmap > a{
    margin: 5px 25px;
    background-color: var(--tertiary-color);
    font-family: 'Mochiy Pop One';
    font-size: large;
    text-align: center;
    cursor: pointer;
}

#CRUDmap > a.selected{
    background-color: var(--border-color);
    -webkit-text-fill-color: black;
}

#CRUDmap > span{
    justify-self: end;
}

.roomForm, .entryForm{
    display: none;
}

.roomForm.show, .entryForm.show{
    display: block;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}    
}

@keyframes showSnack {
    from {bottom: 0; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
}
  
@keyframes hideSnack {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.show {
    animation: fadeIn 1s;
    visibility: visible;
}