@import url("https://fonts.googleapis.com/css?family=Carter One");
@import url("https://fonts.googleapis.com/css?family=Mochiy Pop One");
@import url("https://fonts.googleapis.com/css?family=Quantico");
@import url("https://fonts.googleapis.com/css?family=Covered By Your Grace");

:root{
    --color-background: #242424;
    --color-title:      #202020;
    --color-accent:     #ac9250;
    --color-hover:      #857242;
    --color-primary:    #000000;
    --color-secondary:  #363636;
    --color-text:       #ffffff;
    --color-text-head:  #ffffff;


    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0px;
    -webkit-text-stroke: 0px;

    font-family: 'Quantico';
    overflow: hidden;
}

/* Banners */

.banner{
    width: 105%;
    height: 10%;
    margin: -20px 10px 30px -10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    font-family: 'Mochiy Pop One';
    color: var(--color-accent);
    -webkit-text-fill-color: var(--color-text);
    -webkit-text-stroke: 1px;
}

.banner:has(h1){
    background-color: var(--color-title);
    display: block;
    text-align: center;
}

.square{
    width: 50px;
    height: 50px;
}

hr{
    color: var(--color-accent);
}

/* Company Logo */

#brandLogo{
    position: absolute;
    bottom: 20px;
    left: 20px;
    min-width: 50px;
    max-width: 100px;
    min-height: 50px;
    max-height: 100px;
}

/* Leaderboard Display Space */

.fill{
    height: max-content;
    color: var(--color-text);
    -webkit-text-stroke: 0px;
}

#leaderboard{
    min-width: 600px;
    max-height: 80%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

#leaderboard > p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 200px;
    max-width: 600px;
    height: 50px;
    border: 2px solid goldenrod;
    border-radius: 25px;
    background-color: rgb(10, 10, 10);
    font-family: 'Carter One';
    font-size: x-large;
}

#leaderboard > #entries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#leaderboard > #entries > p{
    min-width: 200px;
    max-width: 600px;
    height: 50px;
    border-bottom: 1px solid rgb(10, 10, 10);
    text-align: center;
    font-family: 'Quantico';
    font-size: large;
}

/* Flag Menu */

.flag-menu{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    right: -100px;
    bottom: 20px;
}

.flag{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 150px;
    height: 50px;
    background-color: goldenrod;
    position: relative;
    right: 0px;
    animation: flag-collapse 0.5s;
}

.flag:first-of-type{
    cursor: pointer;
}

.flag:hover:not(:first-of-type){
    animation: flag-expand 0.5s;
    right: 100px;
}

@keyframes flag-expand {
    from {right: 0px;}
    to {right: 100px;}    
}

@keyframes flag-collapse {
    from {right: 100px;}
    to {right: 0px;}
}

.flag > i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: xx-large;
    color: black;
}

.flag > i:not(:first-of-type){
    background-color: rgb(212, 172, 71);
    cursor: pointer;
}

.flag > i:not(:first-of-type):hover{
    background-color: rgb(179, 145, 61);
}

/* Popups */

.popup{
    visibility: hidden;
}

.popup.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: #000000aa;
    display: flex;
    justify-content: center;
}

.popup.overlay > .content.large{
    width: 75%;
    height: 75%;
    border: 2px solid var(--color-accent);
    background-color: var(--color-primary);
    align-self: center;
}

.popup.visible{
    visibility: visible;
    animation: fadeIn 1s;
}

.close{
    float: inline-end;
    margin: 5px 15px;
    cursor: pointer;
    font-size: xx-large;
    color: var(--color-accent);
}

.close:hover{
    color: var(--color-hover);
}

.content.large > form{
    width: 100%;
    max-height: 100%;
    margin: 10px;
    padding: 0px 25%;
    display: grid;
    grid-template-columns: repeat(1, 20% 30%);
}

.content > form > *{
    margin: 25px 0px;
}

label {
    font-family: 'Quantico';
    font-size: large;
    line-height: 100%;
    align-self: center;
    min-width: 200px;
    color: var(--color-text);
}

input[type="submit"], input[type="button"]{
    width: fit-content;
    height: 50px;
    border: none;
    padding: 0px 25px;
    font-family: 'Quantico';
    font-size: large;
    color: var(--color-text);
    background-color: var(--color-accent);
    cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover{
    background-color: var(--color-hover);
}

input[type="text"], select{
    width: 100%;
    height: 50px;
    padding: 0px 5px;
    font-family: 'Covered By Your Grace';
    font-size: x-large;
    color: var(--color-text);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-accent);
}

input[type="text"]:focus, select:focus{
    border-color: var(--color-hover);
}

input[type="file"]{
    /* width: 100%;
    height: 50px;
    padding: 0px 5px;
    font-family: 'Covered By Your Grace';
    font-size: x-large;
    color: var(--color-text);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-accent); */
}

select{
    font-family: 'Quantico';
    font-size: large;
}

.popup > .content > form > i{
    margin-right: 30px;
    font-size: xx-large;
    line-height: 100%;
    align-self: center;
    justify-self: end;
    color: var(--color-accent);
}

.content > form > i:hover{
    color: var(--color-hover);
}

.content > form > p:has(span){
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: small;
    max-height: 50px;
    overflow-y: scroll;
}

.content.small {
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--color-primary);
    text-align: center;
    font-family: 'Quantico';
    font-size: x-large;
    border: 2px solid var(--color-accent);
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 150px;
}

.popup.slideUp.visible{
    visibility: visible;
    animation: slideUp 0.5s, slideDown 0.5s 2.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}    
}

@keyframes slideUp {
    from {bottom: 0; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
}
  
@keyframes slideDown {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}