@import url("https://fonts.googleapis.com/css?family=Carter One");
@import url("https://fonts.googleapis.com/css?family=Mochiy Pop One");
@import url("https://fonts.googleapis.com/css?family=Quantico");
@import url("https://fonts.googleapis.com/css?family=Covered By Your Grace");

:root{
    --primary-color: #141414;
    --border-color: #ac9250;
    --secondary-color: #363636;
    --tertiary-color: #242424;
    --text-color-main: #ffffff;
    --text-color-border: #ac9250;

    background-color: var(--tertiary-color);
    color: var(--text-color-main);
    margin: 0px;
}

/* Banners */

.banner{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.square{
    width: 50px;
    height: 50px;
}

/* Company Logo */

#brandLogo{
    position: absolute;
    bottom: 20px;
    left: 20px;
    min-width: 50px;
    max-width: 100px;
    min-height: 50px;
    max-height: 100px;
}

/* Leaderboard Display Space */

.fill{
    height: max-content;
}

/* Flag Menu */

.flag-menu{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: absolute;
    right: -100px;
    bottom: 20px;
    background-color: red;
}

.flag{
    width: 150px;
    height: 50px;
    background-color: pink;
    position: relative;
    right: 0px;
    animation: flag-collapse 0.5s;
}

.flag.expand{
    animation: flag-expand 0.5s;
    right: 100px;
}

@keyframes flag-expand {
    from {right: 0px;}
    to {right: 100px;}    
}

@keyframes flag-collapse {
    from {right: 100px;}
    to {right: 0px;}
}

/* Popups */

.popup{
    visibility: hidden;
}

.popup.overlay.large{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: #000000aa;
    display: flex;
    justify-content: center;
}

.popup.overlay.large > .content{
    width: 75%;
    height: 75%;
    background-color: aqua;
    align-self: center;
}

.visible{
    visibility: visible;
}

.close{
    float: inline-end;
    margin: 5px 15px;
    cursor: pointer;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--primary-color);
    text-align: center;
    font-family: 'Quantico';
    font-size: x-large;
    
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 150px;
}
  
#snackbar.show {
    visibility: visible;
    animation: showSnack 0.5s, hideSnack 0.5s 2.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}    
}

@keyframes showSnack {
    from {bottom: 0; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
}
  
@keyframes hideSnack {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.show {
    animation: fadeIn 1s;
    visibility: visible;
}